
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Blog</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
    <section class="menu cid-smpMFp5xhw" once="menu" id="menu1-1e">
    
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="assets/images/icons8-ionic-500-96x96.png" alt="Mobirise" style="height: 3.8rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Coinworld</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Home</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">About us&nbsp;&nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/help">&nbsp;FAQ</a></li><li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">&nbsp;Currency</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/bitcoin">Bitcoin</a><a class="text-black dropdown-item display-4" href="/ethereum" aria-expanded="false">Ethereum</a><a class="text-black dropdown-item display-4" href="#" aria-expanded="false">Binance</a><a class="text-black dropdown-item display-4" href="/litecoin" aria-expanded="false">Litecoin</a><a class="text-black dropdown-item display-4" href="/ripple" aria-expanded="false">Ripple</a><a class="text-black dropdown-item display-4" href="/tron" aria-expanded="false">Tron</a></div></li><li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="true">&nbsp;Giveaways</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="weekly-giveaway">Weekly giveaway</a><a class="text-black dropdown-item display-4" href="/monthly-giveaway" aria-expanded="false">Monthly giveaway</a></div></li></ul>
                    
                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/users/login">&nbsp;Log In</a> <a class="btn btn-primary display-4" href="/users/register">&nbsp;Register</a></div>
                </div>
            </div>
        </nav>
    
    </section>

    <section class="content14 cid-sbjG3NXYue" id="content14-p">
    
    
        <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10" style="margin-top: 50px;">
                      <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                          <strong>Refund policy</strong>
                      </h3>
                      <h6 class="mbr-section-title mbr-fonts-style mb-4 display-6">
                          <strong>disclaimer</strong>
                      </h6>
                  <ul class="list mbr-fonts-style display-7">
                      <li><strong>Coinworld  is not available to the general public and is opened only to the qualified members , the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                      </strong><br></li>
                      <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong><br></li>
                      <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always clear all complaint with the administrator.</strong><br>
                         </li>
                  </ul>
              </div>
          </div>
      </div>
      </section>
      
      <section class="footer1 cid-smpMML3oBH" once="footers" id="footer1-1f">

    
    
        <div class="container">
            <div class="row mbr-white">
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Contact and Help</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap">mail.coinwrld.com</li>
                        <li class="mbr-text item-wrap">+1 201 742-0537</li>
                        <li class="mbr-text item-wrap">Edison, New jersey, USA</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Legals</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
    
                        <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: blue;">&gt;</span> Privacy policy</a><br>
                        <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: blue;">&gt;</span>  Terms and condition</a><br>
                        <a href="refund-policy" class="mbr-text item-wrap"><span style="color: blue;">&gt;</span>  Refund policy</a><br>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Quick Links</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <a href="/" class="mbr-text item-wrap"><span style="color: blue;">&gt;</span>  Home </a> <br>
                        <a href="/contact" class="mbr-text item-wrap"><span style="color: blue;">&gt;</span>  Contact</a><br>
                        <a href="/faq" class="mbr-text item-wrap"><span style="color: blue;">&gt;</span>  Help Desk</a><br>
                        <a href="/about" class="mbr-text item-wrap"><span style="color: blue;">&gt;</span> About Us</a><br>
                        <a href="/what-is-cryptocurrency" class="mbr-text item-wrap"><span style="color: blue;">&gt; </span> What is cryptocurrency</a><br>
                        <a href="/how-to-buy-cryptocurrency" class="mbr-text item-wrap"><span style="color: blue;">&gt; </span> How to buy any cryptocurrency</a><br>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>About</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">
                        Coinworld is a distinctive investment company offering our investors access to high-growth investment opportunities in the cryptocurrency space, finance market and other services. </p>
                    
                </div>
            </div>
        </div>
    </section>
    
      <script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
 
</body>
</html>